*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 0 20px 50px 20px;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #e2cece;
  padding-block: 16px;
}

.navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #e2cece;
}

.navbar-footer {
  display: flex;
  justify-content: space-around;
}

.navbar-footer a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  display: flex;
}

.active_icon_item {
  background-color: rgb(190, 62, 62);
}

.question_card_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block: 24px;
}

.question_card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ccc;
  border-radius: 16px;
  position: relative;
}

.card_bookmark {
  position: absolute;
  top: -16px;
  right: 16px;
}

.card_bookmark_dark {
  position: absolute;
  top: -16px;
  right: 16px;
}

.tag_categories {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 0 8px 8px;
}

.tag_list {
  background-color: #867777;
  padding: 4px 16px;
  border-radius: 4px;
}

button:hover {
  background-color: aquamarine;
}

.answer_button {
  align-self: center;
  padding-block: 8px;
  border-radius: 4px;
}

.hide {
  display: none;
}

.answer {
  margin-top: 20px;
  font-size: 18px;
}

.profile_info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 36px;
}

#profile_logo {
  align-self: center;
}

i {
  margin: 20px 0 20px 0;
}

.counter_list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
}

.question_counter,
.bookmarks_counter {
  border: 4px solid;
  border-radius: 8px;
}

.setting_list {
  display: flex;
  justify-content: space-around;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.dark_style {
  margin-top: 4px;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.counter-container {
  text-align: center;
  margin-top: 50px;
  gap: 10px;
}

#counterButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.setting_title {
  margin-left: 50px;
}

.about-me {
  margin-left: 50px;
}

ul {
  list-style: none;
}
