.categorie_list {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: flex-start;
}

.list {
  background-color: rgb(211, 198, 198);
  border: solid;
  border-radius: 8px;
}

.navbar-footer {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-footer a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.icon_item {
  margin-right: 8px;
  transition: filter 0.3s;
}

.navbar-footer.active a {
  background-color: yellow;
}
